---
import "../assets-arcana/css/main.css";
import { getCollection } from "astro:content";
import TuringLogo from "../logo.svg";

interface Props {
  title: string;
}

const { title } = Astro.props;

const projects = await getCollection("project");
const tier1Projects = projects.filter((project) => project.data.tier === 1);
const tier2Projects = projects.filter((project) => project.data.tier === 2);

const indexPathnames = ["/index.html", "/"];
const tier1Pathnames = tier1Projects.map(
  (project) => "/projects/" + project.slug,
);
const tier2Pathnames = tier2Projects.map(
  (project) => "/projects/" + project.slug,
);
---

<div id="header">
  <!-- Logo -->
  <div id="background">
    <div class="relative">
      <img
        width="150"
        src={TuringLogo.src}
        alt="Turing Logo"
        class="absolute"
        style="top:45px;left:45px"
      />;
      <h1><a href="/index.html" id="logo">{title}</a></h1>
    </div>
  </div>

  <!-- Nav -->
  <nav id="nav">
    <ul>
      <li class={indexPathnames.includes(Astro.url.pathname) ? "current" : ""}>
        <a href="/index.html">Home</a>
      </li>
      <li class={tier1Pathnames.includes(Astro.url.pathname) ? "current" : ""}>
        <a href="#">Tier 1 Projects</a>
        <ul>
          {
            tier1Projects.map((project) => (
              <li>
                <a
                  href={"/projects/" + project.slug}
                  aria-label={`Project ${project.data.name}`}
                >
                  {project.data.name}
                </a>
              </li>
            ))
          }
        </ul>
      </li>
      <li class={tier2Pathnames.includes(Astro.url.pathname) ? "current" : ""}>
        <a href="#">Tier 2 Projects</a>
        <ul>
          {
            tier2Projects.map((project) => (
              <li>
                <a
                  href={"/projects/" + project.slug}
                  aria-label={`Project ${project.data.name}`}
                >
                  {project.data.name}
                </a>
              </li>
            ))
          }
        </ul>
      </li>
      <li>
        <a href="/blog" aria-label={`Blog`}>Blog</a>
      </li>
    </ul>
  </nav>
</div>
