---
import "../assets-arcana/css/main.css";
import type { ProjectDetails } from "../types";

interface Props {
    project: ProjectDetails;
}

const { project } = Astro.props;
---

<section class="col-6 col-12-narrower">
    <div class="box post">
        <a href={project.internalUrl} class="image left"><img src={project.image.url} alt={project.image.alt} /></a>
        <div class="inner">
            <h3><a href={project.internalUrl}>{project.name}</a></h3>
            <p>{project.description}</p>
        </div>
    </div>
</section>
